.form-container {
  display: flex;
  flex-direction: column;
}

.mat-dialog-actions-container {
  display: flex;
  justify-content: center;
}

.disabled-button {
  background-color: gray;
  cursor: not-allowed;
}
