<mat-card [ngStyle]="todoTask.isFinished ? {'text-decoration': 'line-through'} : {'text-decoration': 'none'} ">
    <mat-card-header>
        <mat-card-title>{{todoTask.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            Task description: {{todoTask.description}}
        </div>
        <div>Task priority: {{todoTask.priority}}</div>
    </mat-card-content>

    <mat-card-actions>
        <button
            mat-raised-button
            (click)="popup.handleOpenDialog(todoTask)"
        >
            Edit
        </button>

        <button
            mat-raised-button
            (click)="handleTaskDelete(todoTask)"
        >
            Delete
        </button>

        <button
            mat-raised-button
            (click)="handleTaskFinished(todoTask)"
        >
            Finished
        </button>
    </mat-card-actions>
</mat-card>

<app-popup
    #popup
    (taskEmitted)="handleTaskEdit($event)"
></app-popup>
