<div
    class="app-container"
    cdkDropListGroup
>

    <div
        class="example-container"
        *ngFor="let list of lists"
    >
        <app-todo
            [listName]="list.name"
            [dropListData]="list"
            (onTaskAddedEmitted)="handleAddNewTask($event)"
            (onItemDroppedEmitted)="drop($event)"
        ></app-todo>
    </div>

    <div class="button-container">
        <button
            mat-raised-button
            (click)="addColumn()"
        >
            Add coulmn
        </button>
    </div>
</div>
