<div
    class="app-container"
    cdkDropListGroup
>

    <div
        class="example-container"
        *ngFor="let list of taksLists"
    >
        <app-todo-table-element
            [listName]="list.name"
            [dropList]="list"
            (onTaskAddedEmitted)="handleTaskListModification($event)"
            (onTaskEditedEmitted)="handleTaskListModification($event)"
            (onTaskDeletedEmitted)="handleTaskListModification($event)"
            (onItemDroppedEmitted)="drop($event)"
        ></app-todo-table-element>
    </div>

    <div class="button-container">
        <button
            mat-raised-button
            (click)="addColumn()"
        >
            Add coulmn
        </button>
    </div>
</div>
