<div
    class="app-container"
    cdkDropListGroup
>

    <div
        class="example-container"
        *ngFor="let list of taksLists"
    >

        <app-todo-table-element
            [dropList]="list"
            (onTaskChangeEmitted)="handleTaskListChange($event)"
        ></app-todo-table-element>
    </div>

    <div class="button-container">
        <mat-form-field
            appearance="fill"
            *ngIf="columnNameInputEnabled"
        >
            <mat-label>Column name</mat-label>
            <input
                matInput
                [formControl]="columnNameCtrl"
            >
        </mat-form-field>

        <div class="add-column-container">
            <button
                mat-raised-button
                (click)="addColumn()"
            >
                Add coulmn
            </button>

            <button
                *ngIf="columnNameInputEnabled"
                (click)="handleShowCloseButton()"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>

    </div>

</div>
