<div class="list-container">
    <h2>{{dropList.name}}</h2>

    <div
        cdkDropList
        [cdkDropListData]="dropList.tasks"
        class="list"
        (cdkDropListDropped)="onItemDropped($event)"
    >
        <div
            class="list-box"
            *ngFor="let task of dropList.tasks"
            cdkDrag
        >

            <app-todo-task-view
                [todoTask]="task"
                (editDataEmitted)="handleTaskEdit($event)"
                (taskDeleteEmitted)="handleTaskDelete($event)"
                (taskFinishedEmitted)="handleTaskFinished($event)"
            ></app-todo-task-view>

        </div>
    </div>

    <button
        mat-raised-button
        (click)="formContainer.handleOpenDialog()"
    >
        Add task
    </button>

    <app-form-container
        #formContainer
        (taskEmitted)="handleAddNewTask($event)"
    ></app-form-container>
</div>
