<div class="list-container">
    <h2>{{listName}}</h2>

    <div
        cdkDropList
        [cdkDropListData]="dropListData.tasks"
        class="list"
        (cdkDropListDropped)="onItemDropped($event)"
    >
        <div
            class="list-box"
            *ngFor="let task of dropListData.tasks"
            cdkDrag
        >

            <app-todo-task-view
                [todoTaskData]="task"
                (editDataEmitted)="handleTaskEdt($event)"
            ></app-todo-task-view>

        </div>
    </div>

    <button
        mat-raised-button
        (click)="handleAddNewTask()"
    >
        Add task
    </button>

</div>
